# AWS 全球区
AWS_GLOBAL_ACCESS_KEY_ID=
AWS_GLOBAL_SECRET_ACCESS_KEY=
AWS_GLOBAL_REGION=us-east-1

# AWS 中国区（北京 cn-north-1 / 宁夏 cn-northwest-1）
AWS_CN_ACCESS_KEY_ID=
AWS_CN_SECRET_ACCESS_KEY=
AWS_CN_REGION=cn-north-1

# 阿里云
ALIBABA_CLOUD_ACCESS_KEY_ID=
ALIBABA_CLOUD_ACCESS_KEY_SECRET=
