.git
.gitignore
.github
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
*.egg-info
build
dist
.env
.env.*
!.env.example
docker-compose.yml
docker-compose.*.yml
README.md
Makefile
k8s
